.aside .logo a::before {
  border-top: 4px solid #f24644;
  border-left: 4px solid #f24644;
}

.aside .logo a::after {
  border-bottom: 4px solid #f24644;
  border-right: 4px solid #f24644;
}

.contact .contact-info-item .icon,
.about .about-content .about-text h3 span,
body.dark .aside .nav li a:hover,
body.dark .aside .nav li a.active,
.aside .nav li a:hover,
.aside .nav li a.active {
  color: #f24644;
}

.about .about-content .timeline .circle-dot,
.about .about-content .timeline .timeline-item::before,
.about .about-content .skills .skill-item .progress .progress-in,
.btn,
.section-title h2::before,
.section-title h2::after,
.aside .nav-toggler span,
.aside .nav-toggler span::before,
.aside .nav-toggler span::after,
.home .intro .social-links a {
  background-color: #f24644;
}

#avatar {
  border: 8px solid #f24644;
}
