/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
/* Genaral Style */
body {
  margin: 0;
  line-height: 1.5;
  font-size: 16px;
  font-family: var(--montserrat), sans-serif;
  font-weight: 400;
}
* {
  margin: 0;
  padding: 0;
  outline: none;
  text-decoration: none;
  box-sizing: border-box;
}
::before,
::after {
  box-sizing: border-box;
}
input,
textarea,
select {
  font-family: var(--montserrat-font), sans-serif;
}
.section {
  background-color: #f2f2fc;
  min-height: 100vh;
  display: block;
  padding: 0 30px;
  position: fixed;
  left: 270px;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
  overflow-x: hidden;
  overflow-y: auto;
  opacity: 1;
}
.section .back-section {
  z-index: 1;
}
.section.active {
  opacity: 1;
  z-index: 2;
  -webkit-animation: slideSection 1s ease;
  animation: slideSection 1s ease;
}
@-webkit-keyframes slideSection {
  0% {
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
  }
  100% {
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
  }
}
@keyframes slideSection {
  0% {
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
  }
  100% {
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
  }
}
.section .container {
  padding-top: 60px;
  padding-bottom: 70px;
}
.section-title {
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  max-width: 100%;
  margin-bottom: 60px;
}
.section-title h2 {
  font-size: 40px;
  color: #302e4d;
  font-family: var(--rubik), sans-serif;
  font-weight: 700;
  margin: 0;
  position: relative;
}
.section-title h2::before {
  content: "";
  height: 4px;
  width: 50px;
  position: absolute;
  top: 100%;
  left: 0;
}
.section-title h2::after {
  content: "";
  height: 4px;
  width: 25px;
  position: absolute;
  top: 100%;
  left: 0;
  margin-top: 8px;
}
.row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
  position: relative;
}
.padd-15 {
  padding-right: 15px;
  padding-left: 15px;
}
/* .main-content {
    padding-left: 270px;
} */
.container {
  max-width: 1100px;
  width: 100%;
  margin: auto;
}
.shadow-dark {
  -webkit-box-shadow: 0 0 20px rgba(48, 46, 77, 0.15);
  box-shadow: 0 0 20px rgba(48, 46, 77, 0.15);
}
.btn {
  font-size: 16px;
  font-family: var(--rubik), sans-serif;
  font-weight: 500;
  padding: 12px 35px;
  color: #ffffff;
  border-radius: 40px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  display: inline-block;
  white-space: nowrap;
  border: none;
  cursor: pointer;
}
.btn:hover {
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
}
.hidden {
  display: none !important;
}

.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}

.icon-bubbles2 {
  width: 1.125em;
}

/* Preloader */
.preloader {
  background-color: #222222;
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: 150;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}
.preloader.opacity-0 {
  opacity: 0;
}
.preloader .loader {
  height: 40px;
  width: 40px;
  border: 4px solid #e3e3e3;
  border-radius: 50%;
  border-top: 4px solid transparent;
  border-bottom: 4px solid transparent;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

/* Aside */
.aside {
  width: 270px;
  background-color: #fdf9ff;
  position: fixed;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 10;
  border-right: 1px solid #e8dfec;
  padding: 30px;
  overflow-y: auto;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3 s ease;
}
.aside .logo {
  padding: 30px 0;
}
.aside .logo a {
  font-size: 40px;
  color: #302e4d;
  font-family: var(--rubik), sans-serif;
  font-weight: 700;
  display: inline-block;
  position: relative;
  padding: 0 10px;
  line-height: 50px;
}
.aside .logo a::before {
  content: "";
  height: 20px;
  width: 20px;
  position: absolute;
  top: 0;
  left: 0;
}
.aside .logo a::after {
  content: "";
  height: 20px;
  width: 20px;
  position: absolute;
  bottom: 0;
  right: 0;
}
.aside .nav-toggler {
  height: 40px;
  width: 40px;
  border: 1px solid #d4d4e3;
  cursor: pointer;
  position: fixed;
  left: 300px;
  top: 20px;
  border-radius: 5px;
  z-index: 11;
  background-color: #fdf9ff;
  display: none;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-tap-highlight-color: transparent;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3 s ease;
}
.aside .nav-toggler span {
  height: 2px;
  width: 18px;
  display: inline-block;
  position: relative;
}
.aside .nav-toggler.open span {
  background-color: transparent;
}
.aside .nav-toggler span::before {
  content: "";
  height: 2px;
  width: 18px;
  position: absolute;
  top: -6px;
  left: 0;
}
.aside .nav-toggler.open span::before {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  top: 0px;
}
.aside .nav-toggler span::after {
  content: "";
  height: 2px;
  width: 18px;
  position: absolute;
  top: 6px;
  left: 0;
}
.aside .nav-toggler.open span::after {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  top: 0px;
}
.aside .nav {
  list-style: none;
  margin: 80px 0;
  padding: 0;
}
.aside .nav li {
  display: block;
}
.aside .nav li a {
  font-size: 16px;
  font-weight: 600;
  color: #302e4d;
  text-decoration: none;
  line-height: 45px;
  display: block;
  border-bottom: 1px solid #e8dfec;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  text-transform: capitalize;
}
.aside .nav li a:not(.active):hover {
  padding-left: 5px;
}
.aside .nav li a .fa {
  margin-right: 5px;
}
.aside .copyright-text {
  font-size: 11px;
  font-weight: 600;
  color: #0d090f;
}

.aside .logo .logo-text {
  font-size: 35px;
}

/* Home */
.home {
  min-height: 100vh;
  display: -ms-flexbox;
  display: flex;
}
.home .intro {
  text-align: center;
}
#avatar {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  display: inline-block;
  border: 8px solid #ffffff;
}
#status {
  width: 410px;
  height: 127px;
  background-position: bottom;
  display: inline-block;
  margin: 20px 0 5px;
}

.home .intro h1 {
  font-size: 30px;
  color: #302e4d;
  font-family: var(--rubik), sans-serif;
  font-weight: 700;
  margin: 20px 0 5px;
}
.home .intro p {
  font-size: 16px;
  font-weight: 500;
  margin: 0;
  line-height: 22px;
  color: #504e70;
}
.home .intro .social-links {
  margin-top: 25px;
}

.home .intro .social-links a {
  height: 35px;
  width: 35px;
  display: inline-block;
  text-align: center;
  line-height: 35px;
  color: #ffffff;
  margin: 0 4px;
  border-radius: 50%;
  text-decoration: none;
  -webskit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.home .intro .social-links a:hover {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

/* About section */
.about .about-content {
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  max-width: 100%;
}
.about .about-content .about-text {
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  max-width: 100%;
}
.about .about-content .about-text h3 {
  font-size: 24px;
  margin-bottom: 15px;
  font-weight: 700;
  color: #302e4d;
}
.about .about-content .about-text p {
  font-size: 16px;
  line-height: 25px;
  color: #504e70;
  margin: 0;
}

.about .about-content .personal-info {
  -ms-flex: 0 0 60%;
  flex: 0 0 60%;
  max-width: 60%;
  margin-top: 40px;
}
.about .about-content .personal-info .info-item {
  -ms-flex: 0 0 50%;
  flex: 0 0 50%;
  max-width: 50%;
}
.about .about-content .personal-info .info-item p {
  font-weight: 600;
  padding: 10px 0;
  font-size: 16px;
  color: #302e4d;
  margin: 0;
  border-bottom: 1px solid #e8dfec;
}
.about .about-content .personal-info .info-item p span {
  font-weight: 400;
  color: #504e70;
  margin-left: 4px;
  display: inline-block;
}
.about .about-content .personal-info .buttons {
  margin-top: 30px;
}
.about .about-content .personal-info .buttons .btn {
  margin-right: 15px;
  margin-top: 10px;
}
.about .about-content .skills {
  -ms-flex: 0 0 40%;
  flex: 0 0 40%;
  max-width: 40%;
  margin-top: 40px;
}
.about .about-content .skills .skill-item {
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  max-width: 100%;
  margin-bottom: 20px;
}
.about .about-content .skills .skill-item h5 {
  line-height: 40px;
  font-weight: 600;
  font-size: 16px;
  color: #302e4d;
  text-transform: capitalize;
  margin: 0;
}
.about .about-content .skills .skill-item .progress {
  background-color: #e3e3e3;
  height: 7px;
  border-radius: 4px;
  width: 100%;
  position: relative;
}
.about .about-content .skills .skill-item .progress .progress-in {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  border-radius: 4px;
}
.about .about-content .skills .skill-item .skill-percent {
  /* display: none; */
  line-height: 40px;
  position: absolute;
  right: 0;
  top: -40px;
  font-weight: 400;
  color: #302e4d;
}

.about .about-content .education {
  -ms-flex: 0 0 50%;
  flex: 0 0 50%;
  max-width: 50%;
  margin-top: 50px;
}
.about .about-content .experience {
  -ms-flex: 0 0 50%;
  flex: 0 0 50%;
  max-width: 50%;
  margin-top: 50px;
}

.about .about-content h3.title {
  font-size: 24px;
  margin-bottom: 30px;
  font-weight: 700;
  color: #302e4d;
}
.about .about-content .timeline-box {
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  max-width: 100%;
}
.about .about-content .timeline {
  background-color: #fdf9ff;
  padding: 30px 15px;
  border: 1px solid #d4d4e3;
  border-radius: 10px;
  width: 100%;
  position: relative;
}
.about .about-content .timeline .timeline-item {
  position: relative;
  padding-left: 37px;
  padding-bottom: 50px;
}
.about .about-content .timeline .timeline-item:last-child {
  padding-bottom: 0px;
}
.about .about-content .timeline .timeline-item::before {
  content: "";
  width: 1px;
  position: absolute;
  height: 100%;
  left: 7px;
  top: 0;
}
.about .about-content .timeline .circle-dot {
  position: absolute;
  top: 0;
  left: 0;
  height: 15px;
  width: 15px;
  border-radius: 50%;
}
.about .about-content .timeline .timeline-date {
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 12px;
  color: #504e70;
}
.about .about-content .timeline .timeline-date .fa {
  margin-right: 5px;
}
.about .about-content .timeline .timeline-title {
  font-weight: 700;
  font-size: 18px;
  margin-bottom: 15px;
  text-transform: capitalize;
  color: #302e4d;
}
.about .about-content .timeline .timeline-text {
  font-size: 16px;
  line-height: 25px;
  color: #504e70;
  margin: 0;
}

/* Contact section */
.contact .contact-info-item {
  -ms-flex: 0 0 33.33%;
  flex: 0 0 33.33%;
  max-width: 33.33%;
  text-align: center;
  margin-bottom: 40px;
}
.contact .contact-info-item .icon {
  display: inline-block;
}
.contact .contact-info-item .fa {
  font-size: 40px;
}
.contact .contact-info-item h4 {
  font-size: 18px;
  font-weight: 700;
  color: #302e4d;
  text-transform: capitalize;
  margin: 15px 0 5px;
}
.contact .contact-info-item p {
  font-size: 16px;
  font-weight: 400;
  line-height: 25px;
  color: #504e70;
  margin: 0;
}
.contact .contact-form {
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  max-width: 100%;
}
.contact .contact-form .col-6 {
  -ms-flex: 0 0 50%;
  flex: 0 0 50%;
  max-width: 50%;
}
.contact .contact-form .col-12 {
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  max-width: 100%;
}
.contact .contact-form .form-item {
  margin-bottom: 30px;
}
.contact .contact-form .form-item .form-control {
  width: 100%;
  height: 50px;
  border-radius: 25px;
  border: 1px solid #d4d4e3;
  padding: 10px 25px;
  color: #504e70;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.contact .contact-form .form-item .form-control:focus {
  -webkit-box-shadow: 0 0 20px rgba(48, 46, 77, 0.15);
  box-shadow: 0 0 20px rgba(48, 46, 77, 0.15);
}
.contact .contact-form .form-item textarea.form-control {
  height: 140px;
}

.contact .contact-form .btn {
  height: 50px;
  padding: 0 50px;
}

/* Dark body  */
body.dark .section {
  background-color: #151515;
}
body.dark .contact .contact-form .form-item .form-control,
body.dark .about .about-content .timeline,
body.dark .aside {
  background-color: #222222;
}
body.dark .contact .contact-info-item h4,
body.dark .about .about-content .timeline .timeline-title,
body.dark .about .about-content h3.title,
body.dark .about .about-content .skills .skill-item h5,
body.dark .about .about-content .personal-info .info-item p,
body.dark .about .about-content .about-text h3,
body.dark .section-title h2,
body.dark .home .intro h1,
body.dark .aside .logo a,
body.dark .aside .nav li a {
  color: #ffffff;
}
body.dark .aside .copyright-text {
  font-size: 11px;
  font-weight: 600;
  color: #fdf9ff;
}
body.dark .contact .contact-form .form-item .form-control,
body.dark .contact .contact-info-item p,
body.dark .about .about-content .timeline .timeline-text,
body.dark .about .about-content .timeline .timeline-date,
body.dark .about .about-content .skills .skill-item .skill-percent,
body.dark .about .about-content .personal-info .info-item p span,
body.dark .about .about-content .about-text p,
body.dark .home .intro p {
  color: #e9e9e9;
}
body.dark .aside,
body.dark .contact .contact-form .form-item .form-control,
body.dark .about .about-content .timeline,
body.dark .about .about-content .personal-info .info-item p,
body.dark .aside .nav li a {
  border-color: #393939;
}
body.dark .shadow-dark {
  -webkit-box-shadow: none;
  box-shadow: none;
}

/* Pre-colors */
.aside .logo a::before {
  border-top: 4px solid #969892;
  border-left: 4px solid #969892;
}

.aside .logo a::after {
  border-bottom: 4px solid #969892;
  border-right: 4px solid #969892;
}

.about .about-content .timeline .circle-dot,
.about .about-content .timeline .timeline-item::before,
.about .about-content .skills .skill-item .progress .progress-in,
.btn,
.section-title h2::before,
.section-title h2::after,
.aside .nav-toggler span,
.aside .nav-toggler span::before,
.aside .nav-toggler span::after,
.home .intro .social-links a {
  background-color: #969892;
}

#avatar {
  border: 8px solid #969892;
}



/* Responive  */
@media (max-width: 1199px) {
  .section .container {
    padding-top: 70px;
  }
  .aside .nav-toggler {
    display: -ms-flexbox;
    display: flex;
    left: 30px;
    transition: .5s ease;
    -webkit-transition: .5s ease;
  }
  .aside .nav-toggler.open {
    left: 300px;
    transition: .5s ease;
    -webkit-transition: .5s ease;
  }
  .aside {
    left: -270px;
    transition: .5s ease;
    -webkit-transition: .5s ease;
  }
  .aside.open {
    left: 0;
    transition: .5s ease;
    -webkit-transition: .5s ease;
  }
  .section {
    left: 0;
    transition: .5s ease;
    -webkit-transition: .5s ease;
  }
  .section.open {
    left: 270px;
    transition: .5s ease;
    -webkit-transition: .5s ease;
  }
  .about .about-content .personal-info .info-item p span {
    display: block;
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .contact .contact-form .col-6,
  .about .about-content .experience,
  .about .about-content .education,
  .about .about-content .skills,
  .about .about-content .personal-info {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }
}

@media (max-width: 575px) {
  .contact .contact-info-item {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }
}